@import "bootstrap/less/bootstrap";
@import "font-awesome/less/font-awesome";

//navbar

.navbar {
  margin-bottom: 0;
}

//branding

#banner {
  text-align: center;
  background-color: @brand-info;
  color: #fff;
  margin-top: -40px;
  padding: 60px;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.lead {
  font-weight: 200;
}

.main-signup {
  width: 200px;
}

//body

.home {
  margin-top: 60px;

  .fa {
    font-size: 5em;
  }

  div {
    text-align: center;
    padding: 0 5px;
  }
}

.main-container {
  margin-top: 50px;
}

//fonts

.fa-bolt {
  color: #faea73;
}

.fa-globe {
  color: #5cb85c;
}

.fa-facebook {
  color: #4393b9;
}

//footer

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
}

//lists

.icon-thumbnail {
  float: left;
  height: 50px;
  margin-right: 10px;
}

.user-item {
  line-height: 50px;
}

//users

.user-avatar {
  border-radius: 100%;
}
